{% extends 'base.html.twig' %}

{% block title %}Snowtricks Homepage{% endblock %}

{% block body %}

<div class="container-fluid">
    <img src="../../public/images/home.jpg">
    <h1>Hello {{ controller_name }}! ✅</h1>
    Here is the begining.
</div>
{% endblock %}
