{% extends 'base.html.twig' %}

{% block title %}Snowtricks Homepage{% endblock %}

{% block body %}
    <!-- Start Home Image -->
    <div class="w-100 h-100">
        <div class="home-background">
            <div class="container">
                <span class="slogan"><p class="slogan-p">Welcome Snowboarder !</p></span>
            </div>
            <a href="#tricks"><i class="fas fa-chevron-down fa-4x chevron-down"></i></a>
        </div>
    </div>
{% endblock %}
